<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 style="border-bottom: 1px solid; border-bottom-color:red ;">About Us</h1>
            <p style="text-indent: 90px;font-style: italic;text-align: justify;" class="mt-3">
                We, Mobile Express Accessories, got established in the year 2015, as a wholesaler, manufacturer and trader of Mobile Accessories are highly acclaimed and appreciated by the clients. We are an expert in the supply of Mobile Handsfree, Car Charger and Power Bank. Further, our traded, mi handsfree is specially designed for handsfree communication on mobile phones. Additionally, our offered products is specially designed for charging the electronic devices such as mobile phones and cell phones.

Our offered, power bank is specially fabricated for facilitating the electric charging of electronic devices.</p> 
<p style="text-indent: 90px;font-style: italic;text-align: justify;">Additionally, our supplied power bank is acclaimed and liked for the long lasting, battery backup. Further, our offered, cell phone accessories are highly demanded, across the country. Additionally, our clientele includes the commercial giants, across the country.

We are greatly indebted to our mentor Mr. Jetmal Singh, who has always guided, inspired and motivated us for achieving our goals. Our complete workforce wishes to work under his leadership to reach new horizons.
            </p>
        </div>
    </div><br>
    <div class="row">
        <div class="col-12">
            <h1 style="border-bottom: 1px solid; border-bottom-color:red ;">
                Why Us?</h1>
                <p style="text-indent: 90px;font-style: italic;text-align: justify;" class="mt-3">
                    We have become a reputed and trusted name in the wholesale, trade and supply of cell phone accessories. In addition to it, we have always made fair business transactions with the client representatives. Further, our offered, electronic gadgets are highly liked and appreciated by the clients, due to the hard wearing construct and durability. Additionally, we offer, multiple modes of payment to the client companies.
                </p>  
        </div>
    </div>
</div>
