<div class="container-xxl-fluid">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../assets/2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/3.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                   <h1 class="display-4 fw-normal">Samsung Galaxy S21 5G</h1>
                  <p class="lead fw-normal">(Phantom White, 8GB, 128GB Storage) with No Cost EMI/Additional Exchange Offers</p>
                  <a class="btn btn-outline-secondary" href="#">Coming soon</a>
                </div>
                <div class="product-device shadow-sm d-none d-md-block"></div>
                <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
              </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-6 col-md-3 image-service-box">
            <img src="../assets/ip7.jpg"  alt="...">
           <h4>Apple iPhone 7 (32GB) - Black</h4>
        <h3>₹ 23,989</h3>
        </div>
        <div class="col-6 col-md-3 image-service-box">
            <img src="../assets/oneplus.jpg"  alt="...">
           <h4>OnePlus Nord 5G (Blue Marble, 12GB RAM, 256GB Storage)</h4>
       <h3>₹29,999 </h3>
        </div>
        <div class="col-6 col-md-3 image-service-box">
            
            <img src="../assets/oppo.jpg"  alt="...">
           <h4>OPPO Reno5 Pro 5G (Starry Black, 8GB RAM, 128GB Storage) 
            </h4>
            <h3> ₹35,990</h3>
         
        </div>
        <div class="col-6 col-md-3 image-service-box">
            
            <img src="../assets/sam.jpg"  alt="...">
           <h4>Samsung Galaxy M51 (Celestial Black, 6GB RAM, 128GB Storage)</h4>
          <h3>₹22,999 </h3>
        </div>
    </div>
</div>


<hr class="featurette-divider" >


<div class="container-fluid ">
  <div class="row mt-5">
    <div class="col-12">
    <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title " style="font-weight: bold;">New Apple iPhone 12 Pro Max (256GB) - Pacific Blue</h4>
              <p class="card-text info">
                About this item
                6.7-inch Super Retina XDR display
                Ceramic Shield, tougher than any smartphone glass
                A14 Bionic chip, the fastest chip ever in a smartphone
                Pro camera system with 12MP Ultra Wide, Wide and Telephoto cameras; 5x optical zoom range; Night mode, Deep Fusion, Smart HDR 3, Apple ProRAW, 4K Dolby Vision HDR recording
              </p>
              <h4 style="font-weight: bold;font-family:Arial, Helvetica, sans-serif"> Price:	₹ 1,36,900.00</h4>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="../assets/card1.jpg"
              alt="..."
              class="img-fluid"
            />
          </div>
        </div>
     </div>
   </div>
   <hr class="featurette-divider" >
   <div class="row mt-5">
     <div class="col-12">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../assets/card2.jpg"
            alt="..."
            class="img-fluid"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title " style="font-weight: bold;">OnePlus 8 Pro (Onyx Black 12GB RAM+256GB Storage)</h4>
            <p class="card-text info">
              About this item
              The all new OnePlus 8 Pro Powered by Qualcomm Snapdragon 865. Supports 5G Technology and comes equipped with 120hz Fliud display, a Rear Quad camera Setup with a capability to shoot 4K video @ 30/60 FPS.
           </p>
           <h4 style="font-weight: bold;font-family:Arial, Helvetica, sans-serif"> Price:	₹ 59,999.00</h4>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
     
      </div>
     </div>
   </div>
</div>

